.bd-blue-600 {
    color: #fff;
    background-color: #0a58ca
}

.navbar-light{
    background-color: #212233e6;
    
}

.navbar-light .navbar-nav .nav-link{
    color: rgb(204, 204, 204) !important;
}

#unity-container.unity-desktop {
    left: unset !important;
    top: unset !important;
    transform: unset !important;
    position: relative !important;
}

.container{
    height: calc(100% - 30px);
}

body{
    height: inherit;
}

html{
    height: 100%;
}

#unity-container.unity-mobile{
    height: calc(70vh - 20px) !important;
}

#unity-container{
    position: relative !important;
}

.unity-mobile #unity-footer{
    display: unset !important;
}

@media (max-width: 600px) {
    .height-sm-50{
        height: 50vh;
    }

    #unity-container.unity-mobile{
        height: calc(50vh) !important;
        width: auto !important;
    }
}

@media (min-width: 600px) {
    .height-md-70{
        height: 70vh;
    }

    #unity-container.unity-mobile{
        height: calc(60vh) !important;
        width: auto !important;
    }
}